
  <div class="site-section bg-dark">
    <div class="container">
      <h3 class="text-center mb-5  " style="text-transform: capitalize;">Teams</h3>
      <div class="row">
        
        <div class="col-lg-12">
            
            <div class="widget-next-match">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>Name team</th>
                    <th>country</th>
                    <th>date</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of teams let i=index">
                    <td>{{t.name}}</td>
                    <td><strong class="text-white">{{t.country}}</strong></td>
                    <td>{{t.date|date:'mediumDate'}}</td>
                    <td>{{t.Description}}</td>
                    <td><button type="button" (click)="deleTeams(t._id)" class="btn btn-danger">Delet Teams</button>
                      <button type="button" (click)="navigatTo(t._id,'/edit-team/')" class="btn btn-warning ml-5">edit Teams</button>
                    </td>
                   
                  </tr>
                 
                </tbody>
              </table>
            </div>
        
          </div>
        
                
      </div>
    </div>
  </div> <!-- .site-section -->
